my_logs/*
logs/
wandb/*
manual_gaze_csv/*
debugdata/*
debugdata_splits/*
data/*
DPT/*
data_vis/*
data_splits/*
.vscode/*
*/.vscode/*

*.log
*.png
*.jpg
*.pth
*.pt
*.pkl
*.lmdb
*.ckpt
*.mp4
*.gif

checkpoints/
weights/
runs/
outputs/

__pycache__/
.DS_Store
nohup.out
